/* ==========================================================================
   Global Rules
   ========================================================================== */
   
*, 
*:before, 
*:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    font-family: 'Rosario', sans-serif;
    min-width: 320px;
    background: #eee;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearFloat:after,
.clearFloat:before {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* ==========================================================================
   Mobile 320px
   ========================================================================== */

/* header */

#h-headerWrapper {
    position: relative;
    width: 100%;
    background-color: #000;
    height: 2.6em;
}

#h-headerWrapper h1 {
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.75em;
}

#h-headerWrapper h1 a {
    color: inherit;
    text-decoration: inherit;
}

#h-headerWrapper #h-mobileButton {
    position: absolute;
    text-decoration: none;
    font-family: verdana, helvetica, sans-serif;
    color: #fff;
    font-size: 2.5em;
    line-height: 0.9em;
    left: 0.2em;
}

#h-headerWrapper #h-mainMenu {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    z-index: 2;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.csstransitions #h-headerWrapper #h-mainMenu {
    display: block;
    max-height: 0;
    -webkit-transition:  max-height 1s;
    -moz-transition: -moz-transform max-height 1s;
    -o-transition: -o-transform max-height 1s;
    transition: transform max-height 1s;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

#h-headerWrapper #h-mainMenu li {
    width: 100%;
    border-bottom: 1px #333 solid;
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 25%, #000000 25%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#000000), color-stop(25%,#000000), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 25%,#000000 25%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 25%,#000000 25%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 25%,#000000 25%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 25%,#000000 25%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

#h-headerWrapper #h-mainMenu li a {
    display: block;
    text-align: center;
    width: 100%;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
}

.csstransitions #h-headerWrapper #h-mainMenu.active {
    max-height: 12em;
}

main {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.ma-wrapper {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 1em;
    margin: 2em auto 0;
}

.ma-wrapper .ma-headingImg {
    width: 100%;
}

.ma-wrapper > p {
    font-size: 0.8em;
}

.ma-wrapper > .ma-bottomLink {
    text-decoration: none;
    color: #8f0000;
    float: right;
}

.ma-wrapper > .ma-bottomLink:after {
    font-family: 'FontAwesome';
    content: '\f138';
    padding-left: 0.5em;
}

.ma-wrapper:after,
.ma-wrapper:before {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* footer */

#f-footer {
    position: relative;
    display: block;
    width: 100%;
    background-color: #000;
    padding: 0.5em;
    margin-top: 2em;
}

#f-footer .f-copy {
    text-align: center;
    width: 100%;
    margin: 0;
}

#f-footer .f-copy span {
    font-size: 1.2em;
}

#f-footer p,
#f-footer a {
    color: #fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    body {
        font-size: 125%;
    }

}

@media only screen and (min-width: 768px) {

    #h-headerWrapper h1 {
        width: 10em;
        display: inline-block;
    }

    #h-headerWrapper #h-mobileButton {
        display: none;
    }

    .ma-wrapper {
        float: left;
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .ma-wrapper.center {
        margin-left: 26%;
    }


}

@media only screen and (min-width: 1140px) {


}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}